/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-primary: #4D84F4;
    --color-secondary: #f5414f;

    --color-text: #2e2e31;
    --color-border: #d1d0d2;

    --color-success: #88c459;
    --color-error: #f5414f;
    --color-warning: #ffd137;

    --blue: #4D84F4;
    --red-brand: #f5414f;


    --white: #fff;
    --gray: #d1d0d2;
    --gray-10: #2e2e31;
    --gray-6: #7b7a7d;
    --gray-4: #a5a5a6;
    --gray-3: #bbbbbc;
    --gray-2: #d1d0d2;
    --gray-1: #e8e7e8;
    --white: white;

    --green: #88c459;
    --red: #f94747;
    --yellow: #ffd137;
}

html, body {
  height: 100%;
}

body{
    background-color: var(--yellow);
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
      display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5{
  font-family: 'Merriweather', serif;
}

h1{
  margin-bottom: 1.2rem;
}

h2, h3, h4, h5, h6{
  margin-bottom: 1rem;
}
p{
  margin-bottom: 2rem;
  line-height: 1.7rem;
}

.project-image{
  width: 100%;
  height: 200px;
  background-image: url(/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1 0 auto;
  padding: 6rem;
}

.project-icon{
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

footer {
  flex-shrink: 0;
  background-color: var(--white);
}

footer p{
    padding: 1rem 2rem 1rem 1rem;
    text-align: right;
    font-size: .8rem;
    margin-bottom: 0;
}

.font-merriweather{
font-family: 'Merriweather', serif;
}


#blob{
  width: 100px;
  height: 100px;
  background-color: #2e2e31;
  border-radius: 0px;
  animation: jump 2s infinite;
}




@keyframes jump {
  0%   { transform: scale(1)   translate(0, -50%); }
  50%   { transform: scale(1)   translate(0, 0%); }
  100%   { transform: scale(1)   translate(0, -50%); }
};


/* @keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
} */